.root{
    -fx-background-color: #292929;
}

.menu .label{
    -fx-text-fill: #292929;
    -fx-font-size: 14;
}

.menu-bar{
    -fx-alignment: center;
    -fx-background-color: #FFA500;
    -fx-padding: 0 100 0 100;
}

.label{
    -fx-font-size: 12;
    -fx-text-fill: #FFA500;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.button{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-wrap-text: true;
}
